@import "../../sass/helpers/variables";

#navbar-section {
    background-color: $coffee;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    a {
        margin: 0 0 0 1rem;
        color: $nutmeg;
    }

    .user-data {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        .ui-button-component {
            margin: 0 6px;
        }
    }
}